body{
	scrollbar-color: blue orange;
}
#user{
	flex-direction: row-reverse;
	max-width: 350px;
	padding-left: 20px;
	text-align: left;
	text-wrap: balance;
	align-self: flex-end;
	margin-right: 20px;
	border-radius: 20px;
	position: relative;
	background-color: #fecb2e;
}

#user::after{
	content: '';
	width: 20px;
	height: 20px;
	background-color: #fecb2e;
	right: 0;
	bottom: 2px;
	position: absolute;
	transform: rotate(86deg);
	color: #272733;
}
#assitant{
	max-width: 350px;
	padding-right: 20px;
	text-align: left;
	text-wrap: balance;
	margin-left: 20px;
	border-radius: 20px;
	position: relative;
	background-color: #8f65ff;
	color: rgba(255, 255, 255, 0.8);
}

#assitant::before{
	content: '';
	width: 20px;
	height: 20px;
	background-color: #8f65ff;
	left: 0;
	bottom: 2px;
	position: absolute;
	transform: rotate(12deg);
}
.align-center{
	align-items: center;
	justify-content: center
}
.ml-20{
	margin-left: 20px;
}